<div class="image-slides">
  <img class="carousel" src="/assets/Jerome1.jpg">
  <img class="carousel" src="/assets/whatwedoNoahimage.jpg">
  <img class="carousel" src="/assets/AnnualReport.jpg">
</div>
