<div class="container">
  <div class="row">
    <div class="medium-6 columns welcome">
      <img class="welcome-img" src="assets/welcome.gif">
      <div class="hero-link left-welcome">
        <h5>Watch: <a href="#">DOORS UNLOCKED</a> <br/>life on the streets VR experience</h5>
      </div>
    </div>
    <div class="medium-6 columns welcome">
      <h1 class="welcome-header heading">OPENING DOORS SINCE 1979</h1>
          <p>
            DESC is the largest multi-service agency serving homeless adults in the Puget Sound region, reaching over 7,000 people annually and providing state licensed mental health and chemical dependency treatment, 279 emergency shelter beds, and over 800 units of permanent supportive housing. Since 2009, DESC has moved over 1,200 vulnerable adults affected by mental illness, chemical dependency, and multiple disabilities off of Seattle's streets and into housing, more than any other local homeless provider in the area.
          </p>
          <p>
            DESC succeeds where others have failed. Stretching the bounds of accepted practices, DESC's professional staff have learned that creative, assertive and holistic approaches, including evidence based and emerging best practices, work best for our highly vulnerable and difficult-to-engage clientele. Many men and women who have a long history of homelessness also have tenuous if any ties to the mainstream community and lack natural support networks such as family members. By eliminating outdated barriers to services and housing, DESC has received national recognition for its work with chronically homeless adults with behavioral health disorders.
          </p>
          <div class="hero-link right-welcome">
            <h5>Watch: <a href="#">DOORS UNLOCKED</a> <br/>life on the streets VR experience</h5>
          </div>
    </div>
  </div>
  <div class="hor-line"></div>
  <div class="row">
    <div class="medium-8 columns">
      <h1 class="heading" >LATEST NEWS</h1>
        <p>On November 14, 2016, the Seattle Human Services Department (HSD) announced that DESC, in partnership with <a class="blue" href="#">Operation Sack Lunch</a>, has been selected to operate Seattle’s Navigation Center site when it opens later this year. The center will provide an alternative model of indoor emergency shelter that will accomodate the unique needs facing people who are living unsheltered and in encampments. DESC will operate the 24-hour, low-barrier shelter while Operation Sack Lunch will provide food and meal support to those at the shelter.</p>
        <p>Learn more about what we do and who we serve through documentaries and video recordings chronicling a range of our clients' stories, illustrating how we touch the lives of those we serve.</p>
        <p>Starting June 2016, DESC will no longer be accepting referrals for Vulnerability Assessment interviews. All housing referrals to DESC will be centralized through King County's Coordinated Entry system as part of King County's implementation of <a class="blue" href="#">Coordinated Entry for All (CEA)</a>.</p>
        <p>The nationwide opiate overdose crisis affects our clients at DESC. We are very pleased that our state legislature sought to address the crisis by making naloxone more widely available in Washington State. DESC developed the <a class="blue" href="#">"Opiate Overdose Response and Naloxone Administration"</a> procedure in June 2015, with the invaluable assistance of the Center for Opioid Safety Education, a project of the Alcohol and Drug Abuse Institute at the University of Washington.</p>
        <h1 class="heading">2015 ANNUAL REPORT</h1>
        <img class="annual-report" src="assets/AnnualReport.png">
      </div>
      <div class="medium-4 columns sidebar">
        <h1 class="heading">EVENTS</h1>
        <img src="assets/GimmeShelter2017Poster.jpg" />
        <h1 class="heading">GIMME SHELTER 2017</h1>
        <p>Gimme Shelter 2017 combines high-energy musical entertainment and thought-provoking programming for a truly inspirational evening highlighting the great work DESC does every day.</p>
        <a class="blue" href="#">Click here for tickets</a>
        <p>Interested in sponsoring DESC events? Contact us at <a class="blue" href="#">events@desc.org</a></p>
      </div>
    </div>
  </div>
