<div class="top-quote-box quote">
  <div class="row">
    <h2>2,000 homeless men & women look to DESC for help every day</h2>
    <div class="medium-8 columns"></div>
      <div class="donate-button medium-4 columns">
        <a href="#">Donate Now</a>
      </div>
    </div>
  </div>
<div class="container">
  <div class="row">
      <div class="medium-6 columns">
        <div class="topic-heading">
          <h1>Employment Services</h1>
          <h3>sub heading</h3>
        </div>
        <div class="topic-photo">
          <img src="">
        </div>
        <div class="topic-summary medium-10 columns">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>

  </div>
</div>
