<div class="top-quote-box quote">
  <div class="row">
    <h2>2,000 homeless men & women look to DESC for help every day</h2>
    <div class="medium-8 columns"></div>
      <div class="donate-button medium-2 columns">
        <a href="#">Donate Now</a>
      </div>
    </div>
  </div>
<div class="container">
  <div class="row">
      <div class="medium-6 columns">
        <div class="topic-heading">
          <h1>What We Do</h1>
          <h3>sub heading</h3>
        </div>
        <div >
          <img class="topic-photo">
        </div>
        <div class="topic-summary medium-10 columns">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="medium-3 columns">
      </div>
        <div class="medium-9 columns">
          <div class="learn-more">
            <div class="learn-more-heading">
              <h4>Learn More</h4>
            </div>
            <p><a href="#">lorem ipsum</a></p>
            <p><a href="#">suscipit eros</a></p>
            <p><a href="#">cursus tempus</a></p>
        </div>
      </div>
    </div>
<div class="mobile-spacing">
</div>
    <div class="row landing-right">
      <div class="medium-5 columns">
      </div>
      <div class="medium-6 columns landing-right">
        <div class="topic-heading">
          <h1>Who We Serve</h1>
          <h3>sub heading</h3>
        </div>
          <div >
            <img class="topic-photo">
          </div>
          <div class="topic-summary medium-10 columns">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
        <div class="row landing-right">
          <div class="medium-4 columns">
          </div>
          <div class="medium-4 columns right">
            <div class="learn-more">
          <div class="learn-more-heading">
            <h4>Learn More</h4>
          </div>
            <p><a href="#">lorem ipsum</a></p>
            <p><a href="#">suscipit eros</a></p>
            <p><a href="#">cursus tempus</a></p>
            <p><a href="#">lorem ipsum</a></p>
          </div>
        </div>
      </div>
<div class="mobile-spacing">
</div>
  <div class="row">
      <div class="medium-6 columns">
        <div class="topic-heading">
          <h1>Entry Services</h1>
          <h3>sub heading</h3>
        </div>
        <div >
          <img class="topic-photo">
        </div>
        <div class="topic-summary medium-10 columns">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="medium-3 columns">
      </div>
        <div class="medium-9 columns">
          <div class="learn-more">
            <div class="learn-more-heading">
              <h4>Learn More</h4>
            </div>
            <p><a href="#">lorem ipsum</a></p>
            <p><a href="#">suscipit eros</a></p>
            <p><a href="#">cursus tempus</a></p>
        </div>
      </div>
    </div>
<div class="mobile-spacing">
</div>
    <div class="row landing-right">
      <div class="medium-5 columns">
      </div>
      <div class="medium-6 columns landing-right">
        <div class="topic-heading">
          <h1>Who We Are</h1>
          <h3>sub heading</h3>
        </div>
          <div >
            <img class="topic-photo">
          </div>
          <div class="topic-summary medium-10 columns">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
        <div class="row landing-right">
          <div class="medium-4 columns">
          </div>
          <div class="medium-4 columns right">
            <div class="learn-more">
          <div class="learn-more-heading">
            <h4>Learn More</h4>
          </div>
            <p><a href="#">lorem ipsum</a></p>
            <p><a href="#">suscipit eros</a></p>
            <p><a href="#">cursus tempus</a></p>
            <p><a href="#">lorem ipsum</a></p>
          </div>
        </div>
      </div>
<div class="mobile-spacing">
</div>
      <div class="row">
          <div class="medium-6 columns">
            <div class="topic-heading">
              <h1>Get Involved</h1>
              <h3>sub heading</h3>
            </div>
            <div >
              <img class="topic-photo">
            </div>
            <div class="topic-summary medium-10 columns">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
          <div class="row">
            <div class="medium-3 columns">
            </div>
            <div class="medium-9 columns">
              <div class="learn-more">
            <div class="learn-more-heading">
              <h4>Learn More</h4>
            </div>
              <p><a href="#">lorem ipsum</a></p>
              <p><a href="#">suscipit eros</a></p>
            </div>
          </div>
        </div>
<div class="mobile-spacing">
</div>
        <div class="row landing-right">
          <div class="medium-5 columns">

          </div>
            <div class="medium-6 columns landing-right">
              <div class="topic-heading">
                <h1>Events</h1>
                <h3>sub heading</h3>
              </div>
              <div >
                <img class="topic-photo">
              </div>
              <div class="topic-summary medium-10 columns">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
            <div class="row landing-right">
              <div class="medium-4 columns">
              </div>
              <div class="medium-4 columns right">
                <div class="learn-more">
              <div class="learn-more-heading">
                <h4>Learn More</h4>
              </div>
                <p><a href="#">lorem ipsum</a></p>
                <p><a href="#">suscipit eros</a></p>
                <p><a href="#">cursus tempus</a></p>
                <p><a href="#">lorem ipsum</a></p>
              </div>
            </div>
          </div>
</div>
