<div class="container">
  <div class="row summary">
    <div class="medium-8 columns">
      <h1 class="heading" >WHAT WE DO</h1>
        <p>DESC provides effective and affordable solutions to homelessness for our community's most vulnerable single adults through a nationally recognized interwoven network of care, housing, and support, including:</p>
          <ul>
            <li>383 emergency shelter beds at four locations</li>
            <li>11 supportive housing sites totaling over 750 state-of-the-art apartments</li>
            <li>Over 200 'scattered site' apartments rented from private landlords and enriched with comprehensive case management services</li>
            <li>Placement of nearly 600 homeless adults into housing each year -- more than any other local provider</li>
            <li>State-licensed mental health and outpatient substance use disorder treatment program</li>
            <li>A comprehensive daytime service center which provides vocational training, veterans outreach, and hygiene facilities</li>
            <li>A Program of Assertive Community Treatment (PACT) for men and women transitioning from long periods of institutionalization</li>
            <li>Long-term case management for homeless and formerly homeless adults living with persistent and severe mental illness</li>
          </ul>
        <p>DESC continues to set the standard for excellence in supportive housing, winning local and national <a href="#">recognition</a> for the effectiveness of its programs.</p>
        <p>1811 Eastlake, our housing program for men and women living with chronic alcoholism, won the 2007 national Maxwell Award for affordable housing for chronically homeless individuals. In 2009, 1811 Eastlake was cited in the <a href="#">Journal of the American Medical Association</a> as proof that Housing First saves money and improves lives; the program saved taxpayers $4 million dollars within the first 12 months of operation.</p>
        <p>In November 2008 Evans House won the <a href="#">Affordable Housing Finance Readers' Choice Award</a> for Best Special Needs Housing.</p>
        <p>Every day at DESC we see what innovative clinical care and supportive housing can do: men and women who have been homeless for years regain their health, their dignity and their humanity. They reconnect with parents, children, brothers, sisters. They make friends, rediscover interests, and find work or other meaningful activity.</p>
        <p>And when they recover their lives, the quality of life is improved for all of us. Our community becomes a better place in which to live and work.</p>
      </div>
      <div class="medium-4 columns sidebar">
        <h1 class="heading">Host in action</h1>
        <img src="assets/whatwedoNoahimage.jpg" />
        <p>Noah, while working as a member of DESC's <a href="#">HOST</a> team, makes first contact with clients on the street.</p>
        <p><em>Photo credit: Christopher Daniel© 2010</em></p>
      </div>
    </div>
  </div>
