.top-quote-box {
  padding: 8% 10%;
  background-color: #BFBFBC;
  text-align: center;
}

.donate-button {
  font-weight: bold;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #41887A;
}

.learn-more {
  text-align: left;
}

.learn-more a, .learn-more a:hover {
    color: blue;
}

.learn-more-heading {
  background-color: #41887A;
  color: white;
  display: inline-block;
  padding: 1% 2%;
}

.landing-right {
  text-align: right;
}

.border {
  border: 1px dashed red;
}

@media screen and (max-width: 636px) {
  .right {
    text-align: right;
  }
}
