.top-quote-box {
  padding: 8% 10%;
  background-color: #BFBFBC;
  text-align: center;
}

.donate-button {
  font-weight: bold;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #41887A;
}

.learn-more {
  display: inline-block;
  text-align: center;
  border: 1px solid #41887A;
}

.learn-more p {
  padding: 0 7% 2% 7%;
  margin: 0px;
  text-align: center;
}

.learn-more a, .learn-more a:hover {
    color: #41887A;
}

.learn-more-heading {
  background-color: #41887A;
  color: white;
  display: inline-block;
  padding: 2% 2%;
  width: 120px;
}

/*.landing-right {
  text-align: right;
}*/

.border {
  border: 1px dashed red;
}

@media screen and (max-width: 636px) {
  .right {
    text-align: right;
  }
}

@media screen and (max-width: 636px) {
  .mobile-spacing {
    margin: 6% 4% 2% 4%;
    padding: 0;
    border-bottom: 1px solid #41887A;
    opacity: .2;
  }
}

.keylogo {
  display: inline;
  float: left;
}

.cornerlogo {
  margin-top: .6%;
  margin-left: .6%;
  float: left;
}

.cornerlogo-mobile {
  margin-top: 2%;
  margin-left: 1%;
  float: left;
}

@media screen and (max-width: 636px) {
  .cornerlogo {
    display: none;
  }
}

@media screen and (min-width: 636px) {
  .cornerlogo-mobile {
    display: none;
  }
}
