@media screen and (max-width: 636px) {
  .sidebar {border: none;
  display: none;}
  .hor-line {display: none;}
}

@media screen and (min-width: 636px) {
  .heading {
    font-size: 1em;
  }
}

@media screen and (max-width: 1111px){
  .right-welcome {display: none;}
}

@media screen and (min-width: 1111px) {
  .left-welcome {display: none;}
}

@media screen and (max-width: 636px) {
  .cornerlogo {
    display: none;
  }
}

@media screen and (min-width: 636px) {
  .cornerlogo-mobile {
    display: none;
  }
}

@media screen and (max-width: 636px) {
  .login {
    display: none;
  }
}

@media screen and (max-width: 420px){
  iframe {
    max-width: 280px;
    max-height: 157px;
  }
}

@media screen and (min-width: 420px) {
  iframe {
    min-width: 600px;
    min-height: 338px;
  }
}

@media screen and (max-width: 636px) {
  .right {
    text-align: right;
  }
}

@media screen and (max-width: 636px) {
  .mobile-spacing {
    margin: 6% 4% 2% 4%;
    padding: 0;
    border-bottom: 1px solid #41887A;
    opacity: .2;
  }
}

@media screen and (min-width: 420px) {
  .mobile-links {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .desktop-links {
    display: none;
  }
}

@media screen and (min-width: 420px) {
  .mobile-image {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .desktop-image {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .learn-more {
    display: block;
    width: 100%;
  }
}
