* {
  margin: 0;
}

html, body {
  height: 100%;
}

#summaries_heading {
  margin-bottom: 0;
  padding: 0;
}

.top-quote-box {
  padding: 8% 10%;
  background-color: #BFBFBC;
  text-align: center;
}

.donate {
  background-color: white;
}

#donate a, #donate a:hover, #donate a:focus, #donate a:visited {
  color: #41887A;
}

.donate-button {
  font-weight: bold;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #41887A;
}

.learn-more {
  display: inline-block;
  text-align: center;
  border: 1px solid #41887A;
}

.learn-more p {
  padding: 0 .5em 2% .5em;
  margin: 0;
  text-align: center;
}

.learn-more a, .learn-more a:hover, .learn-more:focus, .learn-more:visited {
    color: #41887A;
}

.learn-more-heading {
  background-color: #41887A;
  color: white;
  display: block;
  padding: 0;
  /*width: 10em;*/
}

.border {
  border: 1px dashed red;
}

.keylogo {
  display: inline;
  float: left;
}

.cornerlogo {
  margin-top: .6%;
  margin-left: .6%;
  float: left;
}

.cornerlogo-mobile {
  margin-top: 2%;
  margin-left: 1%;
  float: left;
}

.login {float: right;
color: white;
}

.edit a, .edit a:hover, .edit a:focus, .edit a:visited { color: #41887A }

.blue {
  background-color: blue;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -80px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.footer, .page-wrap:after {
  height: 80px;
}

.footer-text {
  margin-bottom: 0;
}

.white a, .white a:hover, .white a:focus, .white a:visited {
  color: white;
}

.landing-image {
  margin-top: 1.8em;
  max-height: 300px;
  border-radius: 7% 2%;
  margin-bottom: 1em;
}

.right-align {
  text-align: right;
}

.landing-left-image {
  margin-right: 1.6em;
}

.nav-title {text-align: center;}

.container {
  width: 95%;
  margin: auto;
}

.blue, .blue:hover {color: blue;}

.welcome {margin-top: 4%;}

.welcome-header, .welcome-header h1 {
  padding-top: 0px;
  margin-top: -15px;
}

.annual-report {border: 1px solid #41887A;}

.sidebar {border-left: 1px solid #BFBFBC;}

.footer {
  padding: 2%;
  margin-top: 4%;
  font-weight: bold;
  text-align: center;
  background-color: #BFBFBC;
}

.hero-link {
  color: white;
  background-color: #41887A;
  padding: 2% 4%;
  margin-top: 4%;
}

.errors {
  color: red;
}

.hero-link a {
  text-decoration: underline;
  font-weight: bold;
}

.hor-line {
  border-top: 1px solid #BFBFBC;
  margin: 4% 0%;
}

.welcome-img {
  width: 100%;
  height: 100%;
}

.key-logo {
  width: 20px;
  height: 20px;
}

.summary {
  margin: 4%;
}

.topic-heading a, .topic-heading a:hover, .topic-heading a:visited, .topic-heading a:focus {color: #41887A;}

.summary a, .summary a:hover, .summary a:focus, .summary a:visited {color: #41887A;}

.new-summary-link {
  margin-left: 14%;
  margin-top: 5%;
  background-color: #41887A;
  display: inline-block;
  padding: 1% 2%;
}

.submenu {display: none;}
.menu-icon {display: none;}
.title-bar {display: none;}

.is-dropdown-submenu-parent::after {
  display: inline-block;
}
