<!DOCTYPE html>
<html>
  <head>
    <title>Desc</title>
    <meta name="viewport" content="width=device-width" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="/assets/foundation.css" />
    <!-- Compressed JavaScript -->
    <script src="assets/vendor/foundation.js"></script>
  </head>
  <body>
<a href="/"><img class="cornerlogo" src="assets/keylogo.png" alt=""></a>
<a href="/"><img class="cornerlogo-mobile" src="assets/key3desc.png" alt=""></a>
  <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="example-menu"></button>

  <div class="title-bar-title"></div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul  class="dropdown menu" data-dropdown-menu>
      <!-- <li class="menu-text">SITE TITLE</li> -->
      <li>
        <a href="#">What We Do</a>
        <ul class="menu vertical">
          <li><a href="#">Emergency Shelter</a></li>
          <li><a href="#">Health Services</a></li>
          <li><a href="#">Permanent Supportive Housing</a></li>
          <li><a href="#">Employment Services</a></li>
          <li><a href="#">Crisis Response</a></li>
          <li><a href="#">Innovation</a></li>
          <li><a href="#">Housing First</a></li>
          <li><a href="#">Vulnerability Assessment Tool</a></li>
          <li><a href="#">Research</a></li>
          <li><a href="#">Consultation and Technical Assistance</a></li>
        </ul>
      </li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Learn More</a></li>
      <li><a href="#">Get Involved</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</div>
    <%= yield %>
    <footer>
      <div class="footer">
        <p>
Contact Us | Privacy Policy (HIPAA) | Site Map | DESC © 2010 | 515 Third Avenue, Seattle. WA 98104 | 206-464-1570
        </p>
      </div>
    </footer>
  </body>
</html>
