<!DOCTYPE html>
<html>
  <head>
    <title>Desc</title>
    <meta name="viewport" content="width=device-width" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="/assets/foundation.css" />
    <!-- Compressed JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js" integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs=" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
    <div class="title-bar-title">DESC</div>
  <button class="menu-icon" type="button" data-toggle="example-menu"></button>

  <div class="title-bar-title"></div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul  class="dropdown vertical menu" data-dropdown-menu>
      <!-- <li class="menu-text">SITE TITLE</li> -->
      <li>
        <a href="#">WHAT WE DO</a>
        <ul class="menu vertical">
          <li><a href="#">EMERGENCY SHELTER</a></li>
          <li><a href="#">HEALTH SERVICES</a></li>
          <li><a href="#">PERMANENT SUPPORTIVE HOUSING</a></li>
          <li><a href="#">EMPLOYMENT SERVICES</a></li>
          <li><a href="#">CRISIS RESPONSE</a></li>
          <li><a href="#">INNOVATION</a></li>
          <li><a href="#">HOUSING FIRST</a></li>
          <li><a href="#">VULNERABILITY ASSESSMENT TOOL</a></li>
          <li><a href="#">RESEARCH</a></li>
          <li><a href="#">CONSULTATION AND TECHNICAL ASSISTANCE</a></li>
        </ul>
      </li>
      <li><a href="#">ABOUT US</a></li>
      <li><a href="#">LEARN MORE</a></li>
      <li><a href="#">GET INVOLVED</a></li>
      <li><a href="#">CONTACT US</a></li>
    </ul>
  </div>
</div>

    <%= yield %>
  </body>
</html>
